<h1> Posts </h1>
<ul id='postList'>
    <li><div><span>01/03/2021 </span><a href='/posts/how-to'>Tutorial on how to make how tos</a></div></li>
    <li><div><span>01/03/2021 </span><a href='/posts/postExample'>this is a title post from postExample.ejs</a></div></li>
    <li><div><span>01/03/2021 </span><a href='/posts/testPost1'>this is from testPost1.ejs</a></div></li>
</ul>
