<h1> Posts </h1>
<ul id='postList'>
    <li><a href='/posts/how-to'>Tutorial on how to make how tos</a></li>
    <li><a href='/posts/postExample'>this is a title post from postExample.ejs</a></li>
    <li><a href='/posts/testPost1'>this is from testPost1.ejs</a></li>
</ul>
